estoquews-web/src/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="xs:string"/>

      <xs:element name="cadastrarItem" type="tns:cadastrarItem"/>

      <xs:element name="cadastrarItemResponse" type="tns:cadastrarItemResponse"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="listAllItems" type="tns:listAllItems"/>

      <xs:element name="listAllItemsResponse" type="tns:listAllItemsResponse"/>

      <xs:element name="listItems" type="tns:listItems"/>

      <xs:element name="listItemsResponse" type="tns:listItemsResponse"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="token" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="cadastrarItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string" minOccurs="0"/>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="quantidade" type="xs:int"/>
          <xs:element name="tipo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cadastrarItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listAllItems">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="listAllItemsResponse">
        <xs:sequence>
          <xs:element name="Items" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listItems">
        <xs:sequence>
          <xs:element name="arg0" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listItemsResponse">
        <xs:sequence>
          <xs:element name="Items" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="listAllItems">
    <part name="parameters" element="tns:listAllItems"/>
  </message>
  <message name="listAllItemsResponse">
    <part name="parameters" element="tns:listAllItemsResponse"/>
  </message>
  <message name="listItems">
    <part name="parameters" element="tns:listItems"/>
  </message>
  <message name="listItemsResponse">
    <part name="parameters" element="tns:listItemsResponse"/>
  </message>
  <message name="cadastrarItem">
    <part name="parameters" element="tns:cadastrarItem"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="cadastrarItemResponse">
    <part name="result" element="tns:cadastrarItemResponse"/>
  </message>
  <message name="AuthorizationException">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="listAllItems">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/listAllItemsRequest" message="tns:listAllItems"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/listAllItemsResponse" message="tns:listAllItemsResponse"/>
    </operation>
    <operation name="listItems">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/listItemsRequest" message="tns:listItems"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/listItemsResponse" message="tns:listItemsResponse"/>
    </operation>
    <operation name="cadastrarItem" parameterOrder="parameters token">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemRequest" message="tns:cadastrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItemResponse" message="tns:cadastrarItemResponse"/>
      <fault message="tns:AuthorizationException" name="AuthorizationException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/cadastrarItem/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listAllItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:cadastrarItem" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationException">
        <soap:fault name="AuthorizationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

